.ServerList-name {
  display: flex;
  flex-direction: column;
}

.ServerList-alias,
.ServerList-uri,
.ServerList-master,
.ServerList-message {
  display: inline-block;
}

.ServerList-alias,
.ServerList-uri {
  margin-right: 0.6em;
}

.ServerList-alias {
  font-weight: bold;
  color:  #343434;
}

.ServerList-uri {
  color: #838383;
}

.ServerList-masterDown {
  color: #FF272C;
}

.ServerList-message {
  color: #FF272C;
  font-size: 10px;
  margin-top: -3px;
}

.ServerList-stat {
  display: flex;
  flex-direction: column;
}

.ServerList-statName {
  display: inline-block;
  color: #000000;
}
