.TopSubmenu-outer {
  height: 100%;
  min-height: 350px;
  font-size: 11px;
}

.TopSubmenu-menuItem + .TopSubmenu-menuItem {
  margin-top: 6px;
}

.TopSubmenu-link {
  position: relative;
  display: flex;
  align-items: center;
  padding: 6px 10px;
  margin-top: -1px;
  margin-bottom: -1px;
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid rgba(55, 52, 66, 0.08);
  border-top-color: transparent;
  border-left-width: 2px;
  border-left-color: #a5c79e;
  text-transform: uppercase;
  transition: opacity 0.1s;
}

.TopSubmenu-link,
.TopSubmenu-link:hover,
.TopSubmenu-link:visited,
.TopSubmenu-link:active,
.TopSubmenu-link:focus {
  color: transparentize(rgba(55, 52, 66, 0.87), 0.3);
  text-decoration: none;
}

.TopSubmenu-link--active,
.TopSubmenu-link--active:hover,
.TopSubmenu-link--active:visited,
.TopSubmenu-link--active:active,
.TopSubmenu-link--active:focus,
.TopSubmenu-link--active:hover {
  color: rgba(55, 52, 66, 0.87);
  border-left-color: #cc3636;
}
