variables:
  ROCK_NAME: cartridge
  BUNDLE_VERSION: "1.10.4-8-g3f2b35b"
  BASE_BUILD_IMAGE: registry.gitlab.com/tarantool/cartridge
  npm_config_cache: "$CI_PROJECT_DIR/.npm"
  CYPRESS_CACHE_FOLDER: "$CI_PROJECT_DIR/.cache/Cypress"

stages:
  - prebuild
  - test
  - publish

###
### Prebuilt base docker image
### only if Dockerfile or test requirements changed
###
docker-build-base:
  stage: prebuild
  tags:
    - shell
  only:
    changes:
      - Dockerfile
      - .gitlab-ci.yml
      - test/integration/requirements.txt
  before_script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
    - docker pull ${BASE_BUILD_IMAGE}:${BUNDLE_VERSION} || true
    - >
      docker build
      --label GIT_DESCRIBE=$(git describe --tags)
      --label GIT_COMMIT=$CI_COMMIT_SHA
      --build-arg BUNDLE_VERSION=${BUNDLE_VERSION}
      --build-arg DOWNLOAD_TOKEN=${DOWNLOAD_TOKEN}
      --target build
      -t ${BASE_BUILD_IMAGE}:${BUNDLE_VERSION}
      -f Dockerfile
      .
    - docker push ${BASE_BUILD_IMAGE}:${BUNDLE_VERSION}
  after_script:
    - docker logout registry.gitlab.com

###
### Test
###
.enterprise-test: &enterprise-test
  image: ${BASE_BUILD_IMAGE}:${BUNDLE_VERSION}
  stage: test
  tags:
    - docker
  before_script:
    - tarantoolctl rocks make
  after_script:
    - tarantoolctl rocks remove cartridge
  cache:
    key:
      files:
        - webui/package-lock.json
        - cartridge-scm-1.rockspec
    paths:
      - webui/node_modules
      - webui/build/bundle.lua
      - .npm
      - .cache/Cypress
      - .rocks/

integration:
  <<: *enterprise-test
  script:
    - pytest -v
    - luatest -v -x cypress_*

cypress:
  <<: *enterprise-test
  script:
    - luatest -v -p cypress_*
  artifacts:
    name: "${CI_COMMIT_REF_NAME}.cypress"
    when: always
    expire_in: 1 week
    paths:
      - webui/cypress/screenshots/
      - webui/cypress/videos/


misc:
  <<: *enterprise-test
  script:
    - luacheck .
    - ./taptest.lua
    - ./fetch-schema.sh
    - ./check-flow-graphql.sh
    - ./release.sh
  artifacts:
    name: "${CI_COMMIT_REF_NAME}.misc"
    when: on_success
    expire_in: 1 week
    paths:
      - doc/
      - release/
      - release-doc/
      - luacov.report.out


###
### Publish rocks
###
publish-scm-1:
  stage: publish
  tags:
    - docker
  image: centos:7
  only:
    - master
  script:
    - curl --fail -X PUT -F "rockspec=@${ROCK_NAME}-scm-1.rockspec"
      https://${ROCKS_USERNAME}:${ROCKS_PASSWORD}@rocks.tarantool.org
  dependencies: []

publish-release:
  stage: publish
  tags:
    - docker
  image: centos:7
  only:
    - tags
  script:
    - cd release/
    - curl --fail -X PUT -F "rockspec=@${ROCK_NAME}-${CI_COMMIT_TAG}-1.rockspec"
      https://${ROCKS_USERNAME}:${ROCKS_PASSWORD}@rocks.tarantool.org
    - curl --fail -X PUT -F "rockspec=@${ROCK_NAME}-${CI_COMMIT_TAG}-1.all.rock"
      https://${ROCKS_USERNAME}:${ROCKS_PASSWORD}@rocks.tarantool.org
  dependencies: ["misc"]
