stages:
  - build
  - publish

build:
  stage: build
  tags:
    - docker
  image: centos:7
  variables:
    BUNDLE_VERSION: "1.10.3-68-g618f48d"
  before_script:
    - echo "Using tarantool-enterprise-bundle ${BUNDLE_VERSION}"
    - curl -O -L https://tarantool:${DOWNLOAD_TOKEN}@download.tarantool.io/enterprise/tarantool-enterprise-bundle-${BUNDLE_VERSION}.tar.gz
    - tar -xzf tarantool-enterprise-bundle-${BUNDLE_VERSION}.tar.gz
    - rm -rf tarantool-enterprise-bundle-${BUNDLE_VERSION}.tar.gz
    - export PATH=$PWD/tarantool-enterprise:$PATH
    - yum -y install https://centos7.iuscommunity.org/ius-release.rpm
    - curl -sL https://rpm.nodesource.com/setup_8.x | bash -
    - yum -y install git gcc make cmake unzip python python-pip nodejs
    - tarantoolctl rocks install ldoc --server=http://rocks.moonscript.org
    - tarantoolctl rocks install luacheck
    - tarantoolctl rocks install luacov
    - tarantoolctl rocks install luacov-console 1.1.0
    - export PATH=.rocks/bin:$PATH
    - pip install -r test/integration/requirements.txt
    - tarantoolctl rocks install luatest
    - npm install graphql-cli
    - export PATH=node_modules/.bin:$PATH
  script:
    - tarantoolctl rocks make BUILD_DOC=YES
    - luacheck cluster-scm-1.rockspec
    - pytest -v
    - ./run-test.sh
    - ./fetch-schema.sh
    - ./check-flow-graphql.sh
    - ./release.sh
  artifacts:
    name: "$CI_COMMIT_REF_NAME"
    paths:
      - doc/
      - release/
      - release-doc/
      - luacov.report.out

publish:
  stage: publish
  dependencies:
    - build
  tags:
    - shell
  when: manual
  only:
    - tags
  script:
    - aws --endpoint-url "${AWS_S3_ENDPOINT_URL}" s3 cp release/*.all.rock "s3://packages/rocks/"
    - aws --endpoint-url "${AWS_S3_ENDPOINT_URL}" s3 cp --recursive release-doc/ "s3://packages/rocks-doc/"
