variables:
  ROCK_NAME: cartridge
  BUNDLE_VERSION: "1.10.4-8-g3f2b35b"
  IMAGE_TAG: latest
  # Enable caching frontend stuff
  npm_config_cache: "$CI_PROJECT_DIR/.npm"
  CYPRESS_CACHE_FOLDER: "$CI_PROJECT_DIR/.cache/Cypress"

stages:
  - prebuild
  - test
  - publish

###
### Prebuilt base docker image
### only if Dockerfile or test requirements changed
###
.docker-build-base: &docker-build-template
  stage: prebuild
  tags:
    - shell
  only:
    changes:
      - Dockerfile.base-ee
      - Dockerfile.base-ce
      - .gitlab-ci.yml
      - test/integration/requirements.txt
  before_script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
    - docker pull ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG} || true
    - >
      docker build
      --label GIT_DESCRIBE=$(git describe --tags)
      --label GIT_COMMIT=$CI_COMMIT_SHA
      --cache-from ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG}
      ${BUILD_ARGS}
      -t ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG}
      -f ${DOCKER_FILE}
      .
    - docker push ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG}
  after_script:
    - docker logout registry.gitlab.com

docker-build-ee:
  <<: *docker-build-template
  variables:
    IMAGE_NAME: &IMAGE_NAME_EE base-ee
    BUILD_ARGS: >
      --build-arg DOWNLOAD_TOKEN=${DOWNLOAD_TOKEN}
      --build-arg BUNDLE_VERSION=${BUNDLE_VERSION}
    DOCKER_FILE: Dockerfile.base-ee

docker-build-ce-1.10:
  <<: *docker-build-template
  variables:
    IMAGE_NAME: &IMAGE_NAME_CE_1_10 base-ce-1.10
    BUILD_ARGS: >
      --build-arg TARANTOOL_BRANCH=1_10
    DOCKER_FILE: Dockerfile.base-ce

docker-build-ce-2.2:
  <<: *docker-build-template
  variables:
    IMAGE_NAME: &IMAGE_NAME_CE_2_2 base-ce-2.2
    BUILD_ARGS: >
      --build-arg TARANTOOL_BRANCH=2_2
    DOCKER_FILE: Dockerfile.base-ce

###
### Test
###
.test-template: &test-template
  image: ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG}
  stage: test
  tags:
    - docker
  before_script:
    - ls -al # to see if caching works
    - tarantoolctl rocks make
    - tarantoolctl rocks list
  after_script:
    # avoid caching cartridge rock
    - tarantoolctl rocks remove cartridge
  cache:
    key: ${IMAGE_NAME}
    paths:
      - build.luarocks/
      - webui/node_modules
      - webui/build/bundle.lua
      - .npm
      - .cache/Cypress
      - .rocks/

integration-ee:
  <<: *test-template
  script: &integration-script
    - pytest -v
    - luatest -v -x cypress_*
  variables:
    IMAGE_NAME: *IMAGE_NAME_EE

integration-ce-1.10:
  <<: *test-template
  script: *integration-script
  variables:
    IMAGE_NAME: *IMAGE_NAME_CE_1_10
  when: manual

integration-ce-2.2:
  <<: *test-template
  script: *integration-script
  variables:
    IMAGE_NAME: *IMAGE_NAME_CE_2_2
  when: manual

cypress:
  <<: *test-template
  when: manual
  allow_failure: false
  script:
    - luatest -v -p cypress_*
  artifacts:
    name: "${CI_COMMIT_REF_NAME}.cypress"
    when: always
    expire_in: 1 week
    paths:
      - webui/cypress/screenshots/
      - webui/cypress/videos/
  variables:
    IMAGE_NAME: *IMAGE_NAME_EE

misc:
  <<: *test-template
  script:
    - luacheck .
    - ./taptest.lua
    - ./fetch-schema.sh
    - ./check-flow-graphql.sh
    - ./release.sh
  artifacts:
    name: "${CI_COMMIT_REF_NAME}.misc"
    when: on_success
    expire_in: 1 week
    paths:
      - doc/
      - release/
      - release-doc/
      - luacov.report.out
  variables:
    IMAGE_NAME: *IMAGE_NAME_EE

###
### Publish rocks
###
publish-scm-1:
  stage: publish
  tags:
    - docker
  image: centos:7
  only:
    - master
  script:
    - curl --fail -X PUT -F "rockspec=@${ROCK_NAME}-scm-1.rockspec"
      https://${ROCKS_USERNAME}:${ROCKS_PASSWORD}@rocks.tarantool.org
  dependencies: []

publish-release:
  stage: publish
  tags:
    - docker
  image: centos:7
  only:
    - tags
  script:
    - cd release/
    - curl --fail -X PUT -F "rockspec=@${ROCK_NAME}-${CI_COMMIT_TAG}-1.rockspec"
      https://${ROCKS_USERNAME}:${ROCKS_PASSWORD}@rocks.tarantool.org
    - curl --fail -X PUT -F "rockspec=@${ROCK_NAME}-${CI_COMMIT_TAG}-1.all.rock"
      https://${ROCKS_USERNAME}:${ROCKS_PASSWORD}@rocks.tarantool.org
  dependencies: ["misc"]
