.pageRequestIndicator-indicator {
  position: fixed;
  top: 0;
  display: none;
  width: 100%;
}

.pageRequestIndicator-progress {
  width: 0;
  height: 3px;
  background-color: #65b8ff;
  opacity: 1;
}
