.CodeMirror2-card .ant-card-body {
  padding: 1px 0 0;
  height: 540px;
}

.CodeMirror {
  height: 539px;
  background-color: transparent;
}

.CodeMirror pre {
  padding: 0 6px;
}

.CodeMirror-cursor {
  border-left: 1px solid black;
  border-right: none;
  width: 0;
}

.CodeMirror-scrollbar-filler {
  background-color: #e6e6e6;
}

.CodeMirror-vscrollbar::-webkit-scrollbar,
.CodeMirror-hscrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.CodeMirror-vscrollbar::-webkit-scrollbar-track,
.CodeMirror-hscrollbar::-webkit-scrollbar-track {
  margin-top: 2px;
  margin-left: 2px;
  background-color: #f1f1f1;
  border: 2px solid #fff;
}

.CodeMirror-vscrollbar::-webkit-scrollbar-thumb,
.CodeMirror-hscrollbar::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 6px / 2;
}

/* CSS Statements that only apply on webkit-based browsers (Chrome, Safari, etc.) */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .CodeMirror2-card .ant-card-body {
    padding: 1px 1px 1px 0;
  }

  .CodeMirror {
    height: 538px;
  }

  .CodeMirror-scrollbar-filler {
    width: 6px !important;
    height: 6px !important;
    background-color: #f9f9f9;
  }

  .CodeMirror-vscrollbar {
    bottom: 6px !important;
  }

  .CodeMirror-hscrollbar {
    right: 6px !important;
  }
}
