@import 'src/styles/variables';

$scrollWidth: 6px;

.Console-console {
  height: 100%;
}

.react-console-container {
  overflow: auto;
  height: 100%;
  padding: 0.5em 1em;
  white-space: pre;
  font-size: 12px;
  font-family: monospace;
  color: $console-color;
  background-color: $console-bg;
}

.react-console-welcome {
  color: $console-welcome-block-color;
}

.react-console-message {
  color: $console-message-block-color;
}

.react-console-message-success {
  color: $console-success-color;
}

.react-console-message-error {
  color: $console-error-color;
}

.react-console-prompt-box {
  color: $console-prompt-block-color;
}

.react-console-prompt-label {
  color: $console-prompt-color;
}

.react-console-prompt-argument {
  color: $console-argument-color;
}

.react-console-prompt {
  color: $console-command-color;
}

.react-console-cursor {
  border-left: 2px solid $console-cursor;
}

.react-console-focus .react-console-cursor-idle {
  animation: react-console-cursor-animation 1s infinite;
}

@keyframes react-console-cursor-animation {
  0% {
    border-color: $console-bg;
  }
  50% {
    border-color: $console-bg;
  }
  51% {
    border-color: $console-cursor;
  }
  100% {
    border-color: $console-cursor;
  }
}

.react-console-container::-webkit-scrollbar {
  width: $scrollWidth;
  height: $scrollWidth;
}

.react-console-container::-webkit-scrollbar-track,
.react-console-container::-webkit-scrollbar-corner {
  background-color: $console-bg;
}

.react-console-container::-webkit-scrollbar-thumb {
  background-color: $console-bg;
}
