.btn {
  font-size: 1em;
}

.btn-sm {
  font-size: 0.875em;
}

.btn-lg {
  font-size: 1.25em;
}

.btn + .btn {
  margin-left: 1em;
}

.btn-link {
  padding: 0;
  line-height: inherit;
  font-weight: inherit;
  font-size: inherit;
  border: none;
  transition: color 0s;
}

.alert-dismissible .btn {
  position: absolute;
  right: -1px;
  top: -1px;
  width: 22px;
  height: 22px;
  padding: 0 0 2px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  outline: none;
  text-decoration: none;
}
