.AppBottomConsole-window {
  padding: 0 5vw;
}

.AppBottomConsole-windowContent {
  position: relative;
  height: 100%;
  border: 2px solid rgb(193, 190, 204);
  border-radius: 2px;
}

.AppBottomConsole-head {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 20px;
  padding: 0 0.4em;
  background-color: #d88757;
}

.AppBottomConsole-header {
  font-size: 12px;
  font-family: monospace;
  color: #fffcce;
}

.AppBottomConsole-windowButtons {
  display: flex;
  align-items: center;
}

.AppBottomConsole-windowButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 14px;
  height: 14px;
  text-transform: uppercase;
  font-size: 8px;
  font-weight: bold;
  color: #4e4e4e;
  border-radius: 2px;
  cursor: pointer;
  transition: color 0.4s, border 0.4s, background-color 0.4s;
}


.AppBottomConsole-windowButton:nth-child(1) {
  color: #a95353;
  background-color: #e66161;
}

.AppBottomConsole-windowButton:nth-child(2) {
  color: #867b3b;
  background-color: #ccb82d;
}

.AppBottomConsole-windowButton:nth-child(3) {
  color: #52825f;
  background-color: #73b383;
}

.AppBottomConsole-windowButton + .AppBottomConsole-windowButton {
  margin-left: 4px;
}

.AppBottomConsole-console {
  height: 100%;
  padding-top: 20px;
}
