Jinja2>=3.1
Sphinx==5.3.0
sphinx-intl>=2.0.1
sphinxcontrib-applehelp>=1.0.8
sphinxcontrib.devhelp>=1.0.6
sphinxcontrib.htmlhelp>=2.0.5
sphinxcontrib-serializinghtml>=1.1.10
sphinxcontrib-qthelp>=1.0.7
alabaster>=0.7.14
polib>=1.1.0
docutils>=0.17
