.pages-Cluster-filter {
  margin-bottom: 1.8em;
  padding: 0.6em 0;
  font-size: 14px;
  _background-color: rgba(110, 97, 160, 0.04);
  border-top: 1px solid rgba(55, 52, 66, 0.08)
}

.pages-Cluster-filter label {
  margin-right: 0.4em;
}

.pages-Cluster-filter select {
 width: 10em !important;
}

.pages-Cluster-filter input[type=text] {
  width: 20em !important;
}

.pages-Cluster-configurationCard {
  margin-top: 4em;
}

.pages-Cluster-bottomConsole {
  padding: 0 5vw 16px; /* magic: CONSOLE_BOTTOM_DISTANCE */
}

.pages-Cluster-serverConsole {
  height: 100%;
  font-size: 12px;
  font-family: monospace;
  border: 2px solid rgb(193, 190, 204);
  border-radius: 2px;
}
