.ReplicasetCard {
  font-size: 11px;
}

.ReplicasetCard-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  color: #FFFFFF;
  background-color:  #343434;
  border-radius: 6px;
  font-size: 16px;
}

.ReplicasetCard-name {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.ReplicasetCard-indicator {
  margin-right: 8px;
}

.ReplicasetCard-namePrimary,
.ReplicasetCard-nameSecondary {
  display: inline-block;
}

.ReplicasetCard-namePrimary {
  margin-right: 0.8em;
}

.ReplicasetCard-nameSecondary {
  margin-right: 0.3em;
  opacity: 0.5;
}

.ReplicasetCard-actions {
  font-size: 14px;
}
