@import 'src/styles/variables';

.HealthIndicator {
  display: inline-block;
  background-color: $light-bg-primary;
  border-radius: 50%;

  &--state {
    &-bad {
      background-color: $danger-label-color;
    }

    &-good {
      background-color: $success-label-color;
    }

    &-middle {
      background-color: $warning-label-color;
    }
  }

  &--size {
    &-s {
      width: 8px;
      height: 8px;
    }

    &-m {
      width: 13px;
      height: 13px;
    }

    &-l {
      width: 16px;
      height: 16px;
    }
  }
}
