@import 'src/styles/variables';
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,400,400i,700,700i&subset=cyrillic,cyrillic-ext');

.app {
  position: relative;
  z-index: 0;
}

.app-menu {
  position: relative;
  z-index: 1;
}

.app-content {
  position: relative;
  z-index: 0;
}

.app-bottomConsole {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2;
}

.app-settingsPageOuter {}

.app-settingsPageInner {
  display: flex;
  align-items: stretch;
  padding-top: 20px;
  padding-bottom: 50px;
}

.app-settingsMenu {
  min-width: 180px;
  max-width: 180px;
}

.app-settingsContentOuter {
  flex: 1;
  padding-left: 6px;
}

.app-settingsContentInner {
  height: 100%;
  padding: 20px 30px 80px;
  border-radius: $cards-border-radius;
  background-color: $cards-bg-color;
  box-shadow: $cards-shadow;
}
