.cluster-spin{
  position: relative;
  &__spin{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
  &__spin-animation{
    margin: 100px auto;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 10px;
  }
  &__rect{
    background-color: #333;
    height: 100%;
    width: 7px;
    margin: 0 3px 0 0;
    display: inline-block;

    -webkit-animation: cluster-spin-sk-stretchdelay 1.2s infinite ease-in-out;
    animation: cluster-spin-sk-stretchdelay 1.2s infinite ease-in-out;
    &_rect2 {
      -webkit-animation-delay: -1.1s;
      animation-delay: -1.1s;
    }

    &_rect3 {
      -webkit-animation-delay: -1.0s;
      animation-delay: -1.0s;
    }
    &_rect4 {
      -webkit-animation-delay: -0.9s;
      animation-delay: -0.9s;
    }
    &_rect5 {
      -webkit-animation-delay: -0.8s;
      animation-delay: -0.8s;
    }
  }

  &__container{

    &_blur {
      pointer-events: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      overflow: hidden;
      opacity: .5;
    }
  }
}


@-webkit-keyframes cluster-spin-sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes cluster-spin-sk-stretchdelay {
  0%, 40%, 100% {
    transform: scale3d(1, 0.4, 1);
    -webkit-transform: scale3d(1, 0.4, 1);
  }  20% {
       transform: scale3d(1, 1.0, 1);
       -webkit-transform: scale3d(1, 1.0, 1);
     }
}
