name: Compatibility Test

on:
  push:
    paths-ignore:
      - 'rst/**'
      - '.github/workflows/*-translation.yml'
  workflow_dispatch:

env:
  # Skip building frontend in tarantoolctl rocks make
  CMAKE_DUMMY_WEBUI: true

jobs:
  compatibility:
    strategy:
      fail-fast: false
      matrix:
        tarantool: ['1.10']
        cartridge: ['1.2.0', '2.3.0', '2.4.0', '2.5.1', '2.6.0']
        downgrade: [null]
        include:
          - tarantool: '1.10'
            cartridge: '2.7.0'
            downgrade: true
    runs-on: ubuntu-20.04
    env:
      CARTRIDGE_OLDER_PATH: cartridge-${{ matrix.cartridge }}
      CARTRIDGE_OLDER_VERSION: ${{ matrix.cartridge }}-1
      CARTRIDGE_DOWNGRADE: ${{ matrix.downgrade }}
    steps:
      - uses: actions/checkout@v3
      - uses: tarantool/setup-tarantool@v2
        with:
          tarantool-version: '${{ matrix.tarantool }}'

      # Setup older cartridge for compatibility.cartridge_upgrade_test
      - name: Cache ${{ env.CARTRIDGE_OLDER_PATH }}
        id: cache-older-cartridge
        uses: actions/cache@v3
        with:
          path: ${{ env.CARTRIDGE_OLDER_PATH }}
          key: ${{ env.CARTRIDGE_OLDER_PATH }}
      - name: Install ${{ env.CARTRIDGE_OLDER_PATH }}
        if: steps.cache-older-cartridge.outputs.cache-hit != 'true'
        run: |
          mkdir -p ${{ env.CARTRIDGE_OLDER_PATH }}
          pushd ${{ env.CARTRIDGE_OLDER_PATH }}
          tarantoolctl rocks install cartridge ${{ env.CARTRIDGE_OLDER_VERSION }}
          popd

      # Setup luatest
      - name: Cache rocks
        uses: actions/cache@v3
        id: cache-rocks
        with:
          path: .rocks/
          key: compat-rocks-${{ hashFiles('*.rockspec') }}-03
      -
        run: tarantoolctl rocks install luatest 1.0.0
        if: steps.cache-rocks.outputs.cache-hit != 'true'

      - run: tarantoolctl rocks make
      - run: .rocks/bin/luatest -v -p compatibility.*

      # Cleanup cached paths
      - run: tarantoolctl rocks remove cartridge
