name: Publish

on:
  push:
    branches: [master]
    tags: ['*']

jobs:
  publish-scm-1:
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: tarantool/rocks.tarantool.org/github-action@master
        with:
          auth: ${{ secrets.ROCKS_AUTH }}
          files: cartridge-scm-1.rockspec

  publish-tag:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-20.04
    env:
      CMAKE_LDOC_FIND_REQUIRED: 'YES'
      CMAKE_SPHINX_FIND_REQUIRED: 'YES'
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '16.8.0'
      - uses: actions/setup-python@v2
      - run: python -m pip install -r rst/requirements.txt

      - uses: tarantool/setup-tarantool@v1
        with:
          tarantool-version: '2.5'
      - run: tarantoolctl rocks install ldoc
          --server=https://tarantool.github.io/LDoc/
      - run: echo $PWD/.rocks/bin >> $GITHUB_PATH

      # Make a release
      - run: echo TAG=${GITHUB_REF##*/} >> $GITHUB_ENV
      - run: tarantoolctl rocks new_version --tag ${{ env.TAG }}
      - run: tarantoolctl rocks make cartridge-${{ env.TAG }}-1.rockspec
      - run: |
          mkdir -p check-version
          # get away from repo sources because `cartridge/VERSION.lua`
          # always returns 'scm-1' and assertion fails
          pushd check-version
          tarantool -l cartridge <<SCRIPT
          assert(cartridge.VERSION == '${{ env.TAG }}',
            'version mismatch' ..
            '\nexpected: ' .. '${{ env.TAG }}' ..
            '\n  actual: ' .. cartridge.VERSION
          )
          SCRIPT
          popd
      - run: tarantoolctl rocks pack cartridge ${{ env.TAG }}

      - uses: tarantool/rocks.tarantool.org/github-action@master
        with:
          auth: ${{ secrets.ROCKS_AUTH }}
          files: |
            cartridge-${{ env.TAG }}-1.rockspec
            cartridge-${{ env.TAG }}-1.all.rock
